@{
    ViewData["Title"] = "Ticket Master uygulamamıza hoş geldiniz!";
}

<div class="text-center">
    <h1 class="display-4">Ticket Master uygulamamıza hoş geldiniz!</h1>
    <h3>Otobüs tarifileri için <a href="/bus">Tıklayın</a>.</h3>
</div>
